footer {
  background-color: #333;
  padding: 20px 0;
  color: #fff;
  font-size: 0.8rem;
  margin-top: 5%;
}

.footer-content {
  max-width: 1800px;
  margin: 0 auto;
  text-align: center;
  background-color: transparent;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
  padding: 0 6px;
  background-color: transparent;
}

.footer-content a:hover {
  text-decoration: underline;
}
